<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{label.index.title}">sample_title</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<link href="../static/css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<link href="../static/css/bootstrap.min.css" th:href="@{../../css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<link href="../static/css/main.css" th:href="@{css/main.css}" rel="stylesheet" media="screen" />
<link href="../static/css/main.css" th:href="@{../css/main.css}" rel="stylesheet" media="screen" />
<link href="../static/css/main.css" th:href="@{../../css/main.css}" rel="stylesheet" media="screen" />
<script src="../static/js/jquery.min.js" th:src="@{js/jquery.min.js}"></script>
<script src="../static/js/jquery.min.js" th:src="@{../js/jquery.min.js}"></script>
<script src="../static/js/jquery.min.js" th:src="@{../../js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{../js/bootstrap.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{../../js/bootstrap.min.js}"></script>
<script type="text/javascript">
	setInterval("refresh();", 10000);

	function refresh() {
		window.location = location.href;
	}
</script>
<script type="text/javascript">
	window.onload = function() {
		var buyAmount = sessionStorage.getItem('buyAmount');
		if (buyAmount != 'undefined')
			$('#buyAmount').val(buyAmount);

		var sellAmount = sessionStorage.getItem('sellAmount');
		if (sellAmount != 'undefined')
			$('#sellAmount').val(sellAmount);
	}

	window.onbeforeunload = function() {
		sessionStorage.setItem("buyAmount", $('#buyAmount').val());
		sessionStorage.setItem("sellAmount", $('#sellAmount').val());
	}
</script>
<script type="text/javascript">
	//<![CDATA[
	var clickedInput;
	$(document).ready(function() {
		$("input").click(function(event) {
			clickedInput = this;
		});

		$("form").submit(function() {
			var confirmClickBuy = $(clickedInput).hasClass("confirmBuy");
			if (confirmClickBuy) {
				var amount = -1;
				amount = document.getElementById('buyAmount').value;
				if (!amount)
					amount = 0;

				var unit = 1;
				try {
					unit = document.getElementById('buyUnit').textContent.replace('x ', '');
				} catch (err) {
				}

				var sum = amount * unit;

				var msg = $(clickedInput).attr("title").replace('#value#', sum);
				if (!msg)
					msg = "Click OK to continue!";

				if (isNaN(sum) || sum <= 0 || sum % 1 !== 0) {
					var msgError = $(clickedInput).attr("error");
					if (!msgError)
						msgError = "Error: not a number...";
					event.preventDefault();
					return alert(msgError);
				}

				return confirm(msg);
			}

			var confirmClickSell = $(clickedInput).hasClass("confirmSell");
			if (confirmClickSell) {
				var amount = -1;
				amount = document.getElementById('sellAmount').value;
				if (!amount)
					amount = 0;

				var msg = $(clickedInput).attr("title").replace('#value#', amount);
				if (!msg)
					msg = "Click OK to continue!";

				if (isNaN(amount) || amount <= 0 || amount % 1 !== 0) {
					var msgError = $(clickedInput).attr("error");
					if (!msgError)
						msgError = "Error: not a number...";
					event.preventDefault();
					return alert(msgError);
				}

				return confirm(msg);
			}
			return true;
		});
	});
	// ]]>
</script>
</head>
<body>
	<div class="container">

		<!-- Static navbar -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
						aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Exchange</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li th:if="${#httpServletRequest.remoteUser == null}"><a href="login.html" th:href="@{/login}"
							th:text="#{label.index.login}">sample_login</a></li>
						<li th:if="${#httpServletRequest.remoteUser == null}"><a href="register.html" th:href="@{/register}"
							th:text="#{label.login.register}">sample_register</a></li>
						<li th:if="${#httpServletRequest.remoteUser != null}">
							<p class="navbar-text">
								<span th:text="${#httpServletRequest.remoteUser}">sample_user</span> <a href="login.html" th:href="@{/logout}"
									th:text="#{label.index.logout}">sample_logout</a>
							</p>
						</li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
			<!--/.container-fluid -->
		</nav>

		<div th:if="${#httpServletRequest.remoteUser != null}" class="jumbotron">

			<div class="row">

				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 th:text="#{label.wallet.currenciesHeader}" class="panel-title">sample_currenciesHeader</h3>
						</div>

						<div class="panel-body">
							<div th:if="${#lists.isEmpty(currencies)}">
								<span th:text="#{message.wallet.connectionError}">connectionError</span>
							</div>

							<div th:if="${not #lists.isEmpty(currencies)}">
								<table class="table table-bordered table-condensed">
									<thead>
										<tr>
											<th th:text="#{label.wallet.currencies.currencyHeader}" class="col-currency">currencyHeader</th>
											<th th:text="#{label.wallet.currencies.unitHeader}">unitHeader</th>
											<th th:text="#{label.wallet.currencies.valueHeader}">valueHeader</th>
											<th th:text="#{label.wallet.currencies.actionsHeader}" class="col-actions">actionsHeader</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="entry : ${currencies}">
											<td th:text="${entry.code}"></td>
											<td th:text="${entry.unit}"></td>
											<td th:text="${#numbers.formatDecimal(entry.sellPrice, 0, 'DEFAULT', 2, 'DEFAULT')}"></td>
											<td><a th:href="@{/wallet/buy/{currency}(currency=${entry.code})}" class="btn btn-default btn-block">
													<span th:text="#{label.wallet.currencies.buy}"></span>
											</a></td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td colspan="4"><span th:text="${'Last updated: ' + publicationDate}"></span></td>
										</tr>
									</tfoot>
								</table>
							</div>

							<div th:if="${not #strings.isEmpty(currencyToBuy)}">
								<form th:action="@{/wallet/buy} + '/' + ${currencyToBuy.code}" method="post">
									<div>
										<label th:text="#{label.wallet.myWallet.amountHeader} + ' of ' + ${currencyToBuy.code}">amount</label> <input
											type="text" id="buyAmount" th:field="${currencyToBuy.amount}" /> <label id="buyUnit"
											th:if="${not #strings.equals('1', currencyToBuy.unit)}" th:text="'x ' + ${currencyToBuy.unit}">x unit</label>
									</div>
									<input type="hidden" th:field="${currencyToBuy.code}" /> <input type="hidden" th:field="${currencyToBuy.unit}" />
									<input type="submit" class="confirmBuy btn btn-default"
										th:attr="title=#{message.wallet.currencies.buy.confirm} + ' #value# ' + ${currencyToBuy.code} + '?', error=#{message.wallet.currencies.buy.error}, value=#{label.wallet.currencies.buy}" />
									<a href="index.html" th:href="@{/wallet}" th:text="#{label.wallet.currencies.cancel}">cancel</a>
								</form>
								<div th:if="${not #strings.isEmpty(error)}" th:text="${error}" id="buyError" class="alert alert-danger">Amount
									Error</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 th:text="#{label.wallet.myWalletHeader}" class="panel-title">sample_myWalletHeader</h3>
						</div>

						<div class="panel-body">
							<div th:if="${not #lists.isEmpty(wallet)}">
								<table class="table table-bordered table-condensed">
									<thead>
										<tr>
											<th th:text="#{label.wallet.myWallet.currencyHeader}" class="col-currency">currencyHeader</th>
											<th th:text="#{label.wallet.myWallet.unitPriceHeader}" th:if="${not #lists.isEmpty(currencies)}">unitPriceHeader</th>
											<th th:text="#{label.wallet.myWallet.amountHeader}">amountHeader</th>
											<th th:text="#{label.wallet.myWallet.valueHeader}" th:if="${not #lists.isEmpty(currencies)}">valueHeader</th>
											<th th:text="#{label.wallet.myWallet.actionsHeader}" th:if="${not #lists.isEmpty(currencies)}"
												class="col-actions">actionsHeader</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="entry : ${wallet}">
											<td th:text="${entry.currency}">currency</td>
											<td th:text="${#numbers.formatDecimal(entry.unitPrice, 1, 'DEFAULT', 2, 'DEFAULT')}"
												th:if="${not #lists.isEmpty(currencies)}"></td>
											<td th:text="${entry.amount}">amount</td>
											<td th:text="${#numbers.formatDecimal(entry.value, 1, 'DEFAULT', 2, 'DEFAULT')}"
												th:if="${not #lists.isEmpty(currencies)}"></td>
											<td th:if="${not #lists.isEmpty(currencies)}"><a
												th:href="@{/wallet/sell/{currency}(currency=${entry.currency})}" class="btn btn-default btn-block"> <span
													th:text="#{label.wallet.myWallet.sell}"></span>
											</a></td>
										</tr>
									</tbody>
								</table>

								<div th:if="${not #strings.isEmpty(currencyToSell)}">
									<form th:action="@{/wallet/sell} + '/' + ${currencyToSell.code}" method="post">
										<div>
											<label th:text="#{label.wallet.myWallet.amountHeader} + ' of ' + ${currencyToSell.code}">amount</label> <input
												type="text" id="sellAmount" th:field="${currencyToSell.amount}" />
										</div>
										<input type="hidden" th:field="${currencyToSell.code}" /> <input type="hidden"
											th:field="${currencyToSell.unit}" /> <input type="submit" class="confirmSell btn btn-default"
											th:attr="title=#{message.wallet.myWallet.sell.confirm} + ' #value# ' + ${currencyToSell.code} + '?', error=#{message.wallet.myWallet.sell.error}, value=#{label.wallet.currencies.sell}" />
										<a href="index.html" th:href="@{/wallet}" th:text="#{label.wallet.currencies.cancel}">cancel</a>
									</form>
									<div th:if="${not #strings.isEmpty(error)}" th:text="${error}" id="sellError" class="alert alert-danger">Amount
										Error</div>
									<p></p>
								</div>
							</div>

							<div th:if="${not #strings.isEmpty(amountPLN)}">
								<span th:text="#{label.wallet.myWallet.summaryPLN}">summaryPLN</span>: <span
									th:text="${#numbers.formatDecimal(amountPLN, 1, 'DEFAULT', 2, 'DEFAULT')}">amountPLN</span>
							</div>

							<a href="edit.html" th:href="@{/wallet/edit}" th:text="#{label.wallet.edit}">sample_edit</a>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>
</body>
</html>
