<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1 th:text="#{label.user.registration.page.title}">Register User Account</h1>

	<div sec:authorize="isAnonymous()">
		<form th:action="@{/register}" method="post" th:object="${user}">
			<div id="username">
				<label for="username">Username</label>
				<input type="text" id="username" name="username" th:field="*{username}" />
			</div>
			<div id="form-group-password">
				<label for="password">Password</label>
				<input type="password" id="password" name="password" th:field="*{password}" />
			</div>
			<button type="submit">Register</button>
		</form>
	</div>
	<p sec:authorize="isAuthenticated()" th:text="#{text.registration.page.authenticated.user.help}">You cannot create
		an user account because you are already logged in.</p>
</body>
</html>