<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{label.wallet.title}">sample_title</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<div>
		<h1 th:text="#{label.wallet.currenciesHeader}">sample_currenciesHeader</h1>

		<table>
			<thead>
				<tr>
					<th th:text="#{label.wallet.currencies.currencyHeader}">currencyHeader</th>
					<th th:text="#{label.wallet.currencies.unitHeader}">unitHeader</th>
					<th th:text="#{label.wallet.currencies.valueHeader}">valueHeader</th>
					<th th:text="#{label.wallet.currencies.actionsHeader}">actionsHeader</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="entry : ${currencies}">
					<td th:text="${entry.code}"></td>
					<td th:text="${entry.unit}"></td>
					<td th:text="${#numbers.formatDecimal(entry.purchasePrice, 0, 'DEFAULT', 2, 'DEFAULT')}"></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div>
		<h1 th:text="#{label.wallet.myWalletHeader}">sample_myWalletHeader</h1>

		<table>
			<thead>
				<tr>
					<th th:text="#{label.wallet.myWallet.currencyHeader}">currencyHeader</th>
					<th th:text="#{label.wallet.myWallet.unitPriceHeader}">unitPriceHeader</th>
					<th th:text="#{label.wallet.myWallet.amountHeader}">amountHeader</th>
					<th th:text="#{label.wallet.myWallet.valueHeader}">valueHeader</th>
					<th th:text="#{label.wallet.myWallet.actionsHeader}">actionsHeader</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="entry : ${wallet}">
					<td th:text="${entry.currency}">currency</td>
					<td th:text="${#numbers.formatDecimal(entry.unitPrice, 0, 'DEFAULT', 2, 'DEFAULT')}"></td>
					<td th:text="${entry.amount}">amount</td>
					<td th:text="${#numbers.formatDecimal(entry.value, 0, 'DEFAULT', 2, 'DEFAULT')}"></td>
					<td></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5"><span th:text="#{label.wallet.myWallet.summaryPLN}">summaryPLN</span>: <span
						th:text="${#numbers.formatDecimal(sumValue, 0, 'DEFAULT', 2, 'DEFAULT')}">sumValue</span></td>
				</tr>
			</tfoot>
		</table>
	</div>

	<p />

	<div>
		<a href="index.html" th:href="@{/}" th:text="#{label.backHome}">sample_backHome</a>
	</div>
</body>
</html>
