<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{label.index.title}">sample_title</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script type="text/javascript">
	setInterval("refresh();", 10000);

	function refresh() {
		window.location = location.href;
	}
</script>
<script type="text/javascript">
	window.onload = function() {
		var buyAmount = sessionStorage.getItem('buyAmount');
		if (buyAmount != 'undefined')
			$('#buyAmount').val(buyAmount);

		var sellAmount = sessionStorage.getItem('sellAmount');
		if (sellAmount != 'undefined')
			$('#sellAmount').val(sellAmount);
	}

	window.onbeforeunload = function() {
		sessionStorage.setItem("buyAmount", $('#buyAmount').val());
		sessionStorage.setItem("sellAmount", $('#sellAmount').val());
	}
</script>
</head>
<body>
	<div th:if="${#httpServletRequest.remoteUser == null}">
		<div>
			<a href="login.html" th:href="@{/login}" th:text="#{label.index.login}">sample_login</a>
		</div>
		<div>
			<a href="register.html" th:href="@{/register}" th:text="#{label.login.register}">sample_register</a>
		</div>
	</div>

	<div th:if="${#httpServletRequest.remoteUser != null}">
		<div>
			<span th:text="${#httpServletRequest.remoteUser}">sample_user</span> <a href="login.html" th:href="@{/logout}" th:text="#{label.index.logout}">sample_logout</a>
		</div>

		<div>
			<h3 th:text="#{label.wallet.currenciesHeader}">sample_currenciesHeader</h3>

			<div th:if="${#lists.isEmpty(currencies)}">
				<span th:text="#{message.wallet.connectionError}">connectionError</span>
			</div>

			<div th:if="${not #lists.isEmpty(currencies)}">
				<table>
					<thead>
						<tr>
							<th th:text="#{label.wallet.currencies.currencyHeader}">currencyHeader</th>
							<th th:text="#{label.wallet.currencies.unitHeader}">unitHeader</th>
							<th th:text="#{label.wallet.currencies.valueHeader}">valueHeader</th>
							<th th:text="#{label.wallet.currencies.actionsHeader}">actionsHeader</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="entry : ${currencies}">
							<td th:text="${entry.code}"></td>
							<td th:text="${entry.unit}"></td>
							<td th:text="${#numbers.formatDecimal(entry.purchasePrice, 0, 'DEFAULT', 2, 'DEFAULT')}"></td>
							<td><a th:href="@{/wallet/buy/{currency}(currency=${entry.code})}"> <span th:text="#{label.wallet.currencies.buy}"></span>
							</a></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="4"><span th:text="${'Last updated: ' + publicationDate}"></span></td>
						</tr>
					</tfoot>
				</table>
			</div>

			<div th:if="${not #strings.isEmpty(currencyToBuy)}">
				<form th:action="@{/wallet/buy} + '/' + ${currencyToBuy.code}" method="post">
					<div>
						<label th:text="#{label.wallet.myWallet.amountHeader} + ' of ' + ${currencyToBuy.code}">amount</label> <input type="text" id="buyAmount"
							th:field="${currencyToBuy.amount}" /> <label th:if="${not #strings.equals('1', currencyToBuy.unit)}" th:text="'x ' + ${currencyToBuy.unit}">x
							unit</label>
					</div>
					<input type="hidden" th:field="${currencyToBuy.code}" /> <input type="hidden" th:field="${currencyToBuy.unit}" />
					<button type="submit" th:text="#{label.wallet.currencies.buy}">buy</button>
					<a href="login.html" th:href="@{/wallet}" th:text="#{label.wallet.currencies.cancel}">cancel</a>
				</form>
				<span th:text="${error}" id="buyError">Amount Error</span>
			</div>

		</div>

		<div>
			<h3 th:text="#{label.wallet.myWalletHeader}">sample_myWalletHeader</h3>

			<div th:if="${not #lists.isEmpty(wallet)}">
				<table>
					<thead>
						<tr>
							<th th:text="#{label.wallet.myWallet.currencyHeader}">currencyHeader</th>
							<th th:text="#{label.wallet.myWallet.unitPriceHeader}">unitPriceHeader</th>
							<th th:text="#{label.wallet.myWallet.amountHeader}">amountHeader</th>
							<th th:text="#{label.wallet.myWallet.valueHeader}">valueHeader</th>
							<th th:text="#{label.wallet.myWallet.actionsHeader}">actionsHeader</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="entry : ${wallet}">
							<td th:text="${entry.currency}">currency</td>
							<td th:text="${#numbers.formatDecimal(entry.unitPrice, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
							<td th:text="${entry.amount}">amount</td>
							<td th:text="${#numbers.formatDecimal(entry.value, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
							<td><a th:href="@{/wallet/sell/{currency}(currency=${entry.currency})}"> <span th:text="#{label.wallet.myWallet.sell}"></span>
							</a></td>
						</tr>
					</tbody>
				</table>

				<div th:if="${not #strings.isEmpty(currencyToSell)}">
					<form th:action="@{/wallet/sell} + '/' + ${currencyToSell.code}" method="post">
						<div>
							<label th:text="#{label.wallet.myWallet.amountHeader} + ' of ' + ${currencyToSell.code}">amount</label> <input type="text" id="sellAmount"
								th:field="${currencyToSell.amount}" />
						</div>
						<input type="hidden" th:field="${currencyToSell.code}" />
						<button type="submit" th:text="#{label.wallet.currencies.sell}">sell</button>
						<a href="index.html" th:href="@{/wallet}" th:text="#{label.wallet.currencies.cancel}">cancel</a>
					</form>
					<span th:text="${error}" id="sellError">Amount Error</span>
				</div>
			</div>

			<div>
				<span th:text="#{label.wallet.myWallet.summaryPLN}">summaryPLN</span>: <span th:text="${#numbers.formatDecimal(amountPLN, 1, 'DEFAULT', 2, 'DEFAULT')}">amountPLN</span>
			</div>

			<a href="edit.html" th:href="@{/wallet/edit}" th:text="#{label.wallet.edit}">sample_edit</a>
		</div>
	</div>
</body>
</html>
